<form method="post" action="{{ path('translation_delete', {'id': translation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ translation.id) }}">
    <button class="btn">Delete</button>
</form>