<div class="col-md-12 mb-3">
{{ form_start(form, {'action': path('translation_edit_in_post', {'id':translation.id}   )  }  ) }}  					
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="translation[value]" class=" form-control-label">{{ translation.type|capitalize }} <span class="flag-icon flag-icon-{{ translation.locale == 'en' ? 'gb' :  translation.locale }}"></span></label></div>                            
                            {% if translation.type == 'content' %}
                            <div class="col-12 col-md-9">{{ form_widget(form.value, {attr: {class: 'form-control',rows:'9',class:'trumb-editor'}}) }}</div>
                            {% elseif translation.type == 'title' %}
                            <div class="col-12 col-md-9">{{ form_widget(form.value, {attr: {class: 'form-control', rows:'1'}}) }}</div>
                            {% endif %}
                            
                            {{ form_widget(form.original, {attr: {style: 'display:none'}}) }}
                          </div>
    {{ form_widget(form) }}
    <button class="btn btn-success float-right">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
</div>