<div class="col-md-12 mb-3">
{{ form_start(form, {'action': path('translation_new_in_post', {'idRelation':translation.idRelation}   )  }  ) }}  					
                         
                          	<div class="col-md-12">
                          	
                           <div class="row form-group">
                            <div class="col-md-3 mt-3">
                            
                           <div class="form-group">
                            <label for="translation[type]" class="form-control-label">Type</label>
                            {{ form_widget(form.type, {attr: {class: 'form-control'}}) }}
                            </div>
                           <div class="form-group">
                            <label for="translation[locale]" class="form-control-label">Locale</label>
                            {{ form_widget(form.locale, {attr: {class: 'form-control'}}) }}
                            </div>
                            
                            
                            </div>
                            <div class="col-md-9">{{ form_widget(form.value, {attr: {class: 'form-control',rows:'9',class:'trumb-editor'}}) }}</div>
                          	</div>
                          	</div>
                          
                         
                            
                            {{ form_widget(form.original, {attr: {style: 'display:none'}}) }}
                            {{ form_widget(form.class, {attr: {style: 'display:none'}}) }}
                          
    {{ form_widget(form) }}
    <button class="btn btn-success float-right">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
</div>