{% extends 'base.html.twig' %}

{% block title %}Translation index{% endblock %}

{% block body %}
    <h1>Translation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Original</th>
                <th>Type</th>
                <th>Value</th>
                <th>Locale</th>
                <th>IdRelation</th>
                <th>Class</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for translation in translations %}
            <tr>
                <td>{{ translation.id }}</td>
                <td>{{ translation.original ? 'Yes' : 'No' }}</td>
                <td>{{ translation.type }}</td>
                <td>{{ translation.value }}</td>
                <td>{{ translation.locale }}</td>
                <td>{{ translation.idRelation }}</td>
                <td>{{ translation.class }}</td>
                <td>
                    <a href="{{ path('translation_show', {'id': translation.id}) }}">show</a>
                    <a href="{{ path('translation_edit', {'id': translation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('translation_new') }}">Create new</a>
{% endblock %}