{% extends 'base.html.twig' %}

{% block title %}Translation{% endblock %}

{% block body %}
    <h1>Translation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ translation.id }}</td>
            </tr>
            <tr>
                <th>Original</th>
                <td>{{ translation.original ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ translation.type }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ translation.value }}</td>
            </tr>
            <tr>
                <th>Locale</th>
                <td>{{ translation.locale }}</td>
            </tr>
            <tr>
                <th>IdRelation</th>
                <td>{{ translation.idRelation }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ translation.class }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('translation_index') }}">back to list</a>

    <a href="{{ path('translation_edit', {'id': translation.id}) }}">edit</a>

    {{ include('translation/_delete_form.html.twig') }}
{% endblock %}