{% extends 'admin.html.twig' %}

{% block title %}Administration - Modification d'un commentaire{% endblock %}
{% block h1 %}Modification d'un commentaire{% endblock %}
{% block body %}
<div class="card">

	<div class="card-body">


 {{ form_start(form) }}
 	
 	 <div class="row form-group">
     	<div class="col col-md-3"><label for="comment[content]" class="form-control-label">Contenu du commentaire : </label></div>
     	<div class="col-12 col-md-9"> {{ form_widget(form.content, {attr:{class:('form-control'),placeholder:('Contenu du commentaire')} }  ) }}</div>
     </div>
 	 <div class="row form-group">
     	<div class="col col-md-3"><label for="comment[user]" class="form-control-label">Utilisateur : </label></div>
     	<div class="col-12 col-md-9"> {{ comment.user }}</div>
     </div>   
     
     
      <div class="row form-group">
     	<div class="col col-md-3"><label for="comment[approved]" class="form-control-label">Commentaire approuvé : </label></div>
     	<div class="col-12 col-md-9"> {{ form_widget(form.approved, {attr:{class:('form-control')} }  ) }}</div>
     </div>   
    <button class="btn btn-block btn-success">{{ button_label|default('Mettre à jour') }}</button>
    
    
{{ form_end(form) }}

    <div class="mt-3">
    <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">                
                <a class="btn btn-secondary btn-sm" href="{{ path('admin_comment_index') }}">back to list</a>              
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
    </form>
    </div>

</div>
</div>



{% endblock %}