{% extends 'admin.html.twig' %}
{% block title %}Administration - Liste des commentaires{% endblock %}
{% block h1 %}Liste des commentaires{% endblock %}
{% block body %}


<div class="card">
	<div class="card-body">
		<table class="table text-center">
			<thead>
				<tr>
					<th>Id</th>
					<th>Content</th>
					<th>Approved</th>
					<th>CreatedAt</th>
					
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for comment in comments %}
				<tr>
					<td>{{ comment.id }}</td>
					<td>{{ comment.content }}</td>
					<td>{{ comment.approved }}</td>
					<td>{{ comment.createdAt ? comment.createdAt|date('d/m/y H:i') : '' }}</td>
				
					<td><a
						href="{{ path('admin_comment_show', {'id': comment.id}) }}">show</a>
						<a href="{{ path('admin_comment_edit', {'id': comment.id}) }}">edit</a>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>
{% endblock %}