{% extends 'admin.html.twig' %}

{% block title %}Administration - Afficher un commentaire{% endblock %}
{% block h1 %}Affichage d'un commentaire{% endblock %}
{% block body %}
<div class="card">

	<div class="card-body">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Approved</th>
                <td>{{ comment.approved }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
         
        </tbody>
    </table>

    <a href="{{ path('admin_comment_index') }}">back to list</a>

    <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('comment/admin/_delete_form.html.twig') }}
	</div>
</div>



{% endblock %}