{% extends 'base.login.html.twig' %}

{% block body %}




<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                  
                        <img class="align-content" src="images/logo.png" alt="">
                    
                </div>
                <div class="login-form">
                
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}	
    	   {% for label, messages in app.flashes %}
                {% for message in messages %}
        		<div class="alert alert-{{ label }} mt-3 ">
                    {{ message }}
        		</div>
            {% endfor %}
            {% endfor %}
                
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <label>Pseudonyme</label>                      
   							<input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Pseudonyme" />                            
                        </div>
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" class="form-control" name="_password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="_remember_me" checked> Remember Me
                            </label>
                       

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Se connecter</button>
                        
                        <div class="register-link m-t-15 text-center">
                            <p>Vous n'avez pas de compte <a href="{{ path('register') }}">S'enregistrer </a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>









{% endblock %}