{% extends 'base.login.html.twig' %}

{% block body %}



<body class="bg-dark">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">

                        <img class="align-content" src="images/logo.png" alt="">                  
                </div>
                <div class="login-form">
                
                {% for label, messages in app.flashes %}
                {% for message in messages %}
                        <div class="alert alert-{{ label }} mt-3 ">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                    
                
                    {{ form_start(form) }}
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>  
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username,{'attr':{'class':'form-control','placeholder':'Nom d\'utilsateur'} }   ) }}                    
   							    							 
   							  </div>
                  
                           
                            {{ form_errors(form.plainPassword) }}
                            {{ form_widget(form.plainPassword) }}                    
                      
                        
                        <div class="form-group">
                            <label>Adresse email</label>
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Adresse email valide'} }   ) }}                    
                        </div>
                        
                        
                        
                         <div class="form-group">
                            <label>Nom</label>
                            {{ form_errors(form.firstName) }}
                            {{ form_widget(form.firstName,{'attr':{'class':'form-control','placeholder':'Nom de famille'} }   ) }}                    
                        </div>
                        
                        <div class="form-group">
                            <label>Prénom</label>
                            {{ form_errors(form.LastName) }}
                            {{ form_widget(form.LastName,{'attr':{'class':'form-control','placeholder':'Prénom'} }   ) }}                    
                        </div>
                        
                        <div class="form-group">
                            <label>Date de naissance</label>
                            {{ form_errors(form.birthDay) }}
                            {{ form_widget(form.birthDay,{'attr':{'class':'form-control'} }   ) }}                    
                        </div>                   
                        
                        
                      
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">S'enregistrer</button>
                    
                        <div class="register-link m-t-15 text-center">
                            <p>Vous avez déjà un compte <a href="{{ path('login') }}"> Se connecter</a></p>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>










{% endblock %}