 <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ path('admin_home') }}"><img src="/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{{ path('admin_home') }}"><img src="/images/logo2.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('admin_home') }}"> <i class="menu-icon ti-dashboard"></i>Dashboard </a>
                        <a href="{{ path('home') }}"> <i class="menu-icon ti-home"></i>Retour sur le site </a>
                    </li>
                   
                    <h3 class="menu-title">Article</h3><!-- /.menu-title -->
             
           
                            <li {{ app.request.attributes.get('_route') == 'admin_post_new' ? 'class="active"':'' }}><a href="{{ path('admin_post_new') }}"><i class="menu-icon  ti-plus"></i>Créer un article</a></li>
                            <li {{ app.request.attributes.get('_route') == 'admin_post_index' ? 'class="active"':'' }}><a href="{{ path('admin_post_index') }}"><i class="menu-icon ti-layout-list-post"></i>Liste des articles</a></li>
                      
                    <h3 class="menu-title">Catégorie</h3><!-- /.menu-title -->
                     
                      <li {{ app.request.attributes.get('_route') == 'admin_category_index' ? 'class="active"':'' }}><a href="{{ path('admin_category_index') }}"> <i class="menu-icon ti-layers-alt"></i>Catégories</a></li>
              
                        
                    <h3 class="menu-title">Tags</h3><!-- /.menu-title -->
                     
                      <li {{ app.request.attributes.get('_route') == 'admin_tag_index' ? 'class="active"':'' }}><a href="{{ path('admin_tag_index') }}"> <i class="menu-icon ti-layers-alt"></i>Tags</a></li>
              
                    
                    <h3 class="menu-title">Commentaire</h3><!-- /.menu-title -->
                  
                            <li {{ app.request.attributes.get('_route') == 'admin_comment_index' ? 'class="active"':'' }}><a href="{{ path('admin_comment_index') }}"><i class="menu-icon ti-comments"></i>Liste des commentaires</a></li>
                      
                  
                    <h3 class="menu-title">Utilisateur</h3><!-- /.menu-title -->
                   
                            <li {{ app.request.attributes.get('_route') == 'admin_user_index' ? 'class="active"':'' }}><a href="{{ path('admin_user_index') }}" class=""><i class="menu-icon ti-user"></i>Liste des utilisateurs</a></li>
                            <li {{ app.request.attributes.get('_route') == 'admin_user_new' ? 'class="active"':'' }}><a href="{{ path('admin_user_new') }}" class=""><i class="menu-icon ti-wand"></i>Créer un utilisateur</a></li>
                    
                    <h3 class="menu-title">Partenaires</h3><!-- /.menu-title -->
                   
                            <li {{ app.request.attributes.get('_route') == 'admin_partner_index' ? 'class="active"':'' }}><a href="{{ path('admin_partner_index') }}" class=""><i class="menu-icon ti-sharethis"></i>Liste des Partenaires</a></li>
          
                       
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    
