{% block sidebar %}
<!-- Sidebar Widgets Column -->
        <div class="col-md-4">
		{% if is_granted('ROLE_USER') %}
          <!-- Search Widget -->
          <div class="card my-4">
            <h5 class="card-header">{{ 'search'|trans }}</h5>
            <div class="card-body">
              <form action="{{ path('search') }}" method="GET">
              <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="{{ 'search'|trans }}...">
                <span class="input-group-btn">
                  <input class="btn btn-outline-success" type="submit" value="Go!"/>
                </span>
              </div>
              </form>
            </div>
          </div>
		{% endif %}
 {{ render(controller('App\\Controller\\CategoryController::listMenu')) }}
		{% if is_granted('ROLE_USER') %}
 {{ render(controller('App\\Controller\\PostController::listLastPostWidget')) }}
		{% endif %}


        </div>      
{% endblock %}
