{% extends 'admin.html.twig' %}
{% block stylesheets %}


{% endblock %}
  
{% block title %}
Administration - Modification d'un article
{% endblock %}


{% block body %}
   
   <div class="col-lg-12">

   
   
      <div class="card">
   <div class="card-header"><strong>Traductions</strong></div>
   		<div class="card-body">
        	<div class="custom-tab">

            	<nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                	<a class="custom-nav-item nav-link active show" id="nav-lang-{{ original[0].locale }}" data-toggle="tab" href="#custom-nav-lang-{{ original[0].locale }}" role="tab" aria-controls="nav-lang-{{ original[0].locale }}" aria-selected="true">Langue {{ original[0].locale|upper }}</a>
                    {%  for key,translation in translations %}                  	
                    <a class="custom-nav-item nav-link" id="nav-lang-{{ key }}" data-toggle="tab" href="#custom-nav-lang-{{ key }}" role="tab" aria-controls="nav-lang-{{ key }}" aria-selected="false">Langue {{ key|upper }}</a>
                 	{% endfor %}
                    <a class="custom-nav-item nav-link" id="nav-lang-add" data-toggle="tab" href="#custom-nav-lang-add" role="tab" aria-controls="nav-lang-add" aria-selected="true">Ajouter une traduction</a>
                  
                    
                 </div>
                </nav>
                      <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                      
                          <div class="tab-pane fade active show" id="custom-nav-lang-{{ original[0].locale }}" role="tabpanel" aria-labelledby="nav-lang-{{ original[0].locale }}">
                         	<p>
                          {%  for field in original %}
                            {{ render(controller('App\\Controller\\TranslationController::editInPost',{'id':field.id})) }}
                          
                          {% endfor %}
                          	</p>
                          </div>
                          
                            {%  for key,translation in translations %}
                         	<div class="tab-pane fade" id="custom-nav-lang-{{ key }}" role="tabpanel" aria-labelledby="nav-lang-{{ key }}">
                         	<p>
                         	{% for field in translation %}
                            {{ render(controller('App\\Controller\\TranslationController::editInPost',{'id':field.id})) }}
                   		    {% endfor %}
              		    	</p>
                         	</div>
                   		    {% endfor %}
                          
                           <div class="tab-pane fade" id="custom-nav-lang-add" role="tabpanel" aria-labelledby="nav-lang-add">
                           	 {{ render(controller('App\\Controller\\TranslationController::newInPost',{'idRelation':post.id})) }}
                         	</div>
                      </div>
             </div>
       </div>
  </div>
                    
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

   
   
   
   
   
                    <div class="card">
                      <div class="card-header">
                        <strong>Modification d'un article</strong>
                      </div>
                      <div class="card-body card-block">
                   {{ form_start(form,{attr:{class:'form-horizontal'}}) }}
                        
           {{ form_errors(form) }}
             {{ form_widget(form.title, {attr: {class: 'form-control' }}) }}
             {{ form_widget(form.content, {attr: {class: 'form-control' }}) }}
                        
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[locale]" class=" form-control-label">Langue originale de l'article</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.locale, {attr: {class: 'form-control'}}) }}</div>
                          </div>
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[status]" class=" form-control-label">Statut de l'article</label></div>
                            <div class="col-12 col-md-9">
                             {{ form_widget(form.status, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>
                      
                          
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[comment_status]" class=" form-control-label">Statut des commentaires</label></div>
                            <div class="col-12 col-md-9">
                             {{ form_widget(form.comment_status, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>
                         
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[category]" class=" form-control-label">Catégories</label></div>
                            <div class="col col-md-9">
                             {{ form_widget(form.category, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[home_image]" class="form-control-label">Image de présentation</label></div>
                            
                           
                            <div class="col-12 col-md-9">
                        	<div class="row">
                        	</div>
                            <a id="changeImage" class="btn btn-sm btn-secondary mb-3 text-white">Changer l'image</a>
                        	<img class="mb-3 mx-auto" style="max-height:200px;" src="/images/post_images/{{ post.homeImage.filename }}" alt="{{ post.homeImage.filename }}"/>
                             <div id="formImage">
                             {{ form_widget(form.home_image, {attr: {class: 'form-control-file' }}) }}</div>
                             
                             </div>
                        	
                          </div>
                          <div>
                       
                          </div>
                          
                           
                     
                           
                           
                           
                         <div class="row form-group">
                            <div class="col col-md-3"><label for="post[tags]" class=" form-control-label">Tags</label></div>
                            <div class="col col-md-9">
                             {{ form_widget(form.tags, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>                       
                          
                     
                   
                          <input type="submit" class="btn btn-block btn-success" value="Enregistrer les modifications"/>
                       
             {{ form_end(form) }}
                    </div><!-- card body -->
                    </div><!-- card -->
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                       

                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    </div><!-- col -->
                 

   
   

   
   
   
   
   
   
{% endblock %}


{% block javascripts %}

   <script>
	jQuery(document).ready(function(){
		jQuery('#post_content').removeAttr("required");
		jQuery('#post_content').hide();
		jQuery('#post_title').hide();
		jQuery('.trumb-editor').trumbowyg();

		jQuery("#category_name").removeAttr("required");
		jQuery("#tag_name").removeAttr("required");	
		jQuery("#post_home_image").removeAttr("required");	
		jQuery("#formImage").hide();
		
			
		})
   	jQuery("#changeImage").click(function(){

   		if(jQuery('#formImage').css('display') !== 'none'){
   		jQuery("#formImage").hide();
   		jQuery("#changeImage").html('Changer d\'image');
   		jQuery("#post_home_image").removeAttr("required");
   		}

	else{
   		jQuery("#formImage").show();
   		jQuery("#changeImage").html('Annuler');
   		jQuery("#post_home_image").attr("required", true);
   	   	}

   	   	})
   	
   	
   	jQuery("#category_name").keyup(function(){
   		if(jQuery("#category_name").val().length > 0){
   		jQuery("#addCategory").html('Ajouter une catégorie')
   		}else{
   			jQuery("#addCategory").html('fermer')
   	   		}

   	   	})
   	
   	jQuery("#tag_name").keyup(function(){
   		if(jQuery("#tag_name").val().length > 0){
   		jQuery("#addTags").html('Ajouter un tag')
   		}else{
   			jQuery("#addTags").html('fermer')
   	   		}

   	   	})
   	

   jQuery("#showCategory").click(function() {
	   jQuery('#newCategory').show();
	   jQuery('#showCategory').hide();		   
   })
   

jQuery("#addCategory").click(function(){
	 jQuery('#newCategory').hide();
	   jQuery('#showCategory').show	();	


	if(jQuery("#category_name").val().length > 0){
		
	 jQuery.ajax({ 			
  		method: "POST",
 		url:  "{{path('ajax_category_new')}}",
  		data: { 'category[name]': jQuery("#category_name").val(),'category[_token]':jQuery("#category__token").val()}
	 })
	  .done(function(retour) {		 
		    jQuery("#category_name").val('');
		  jQuery('#post_category').append(jQuery('<option>', {
		        value: retour.name,
		        text: retour.name
		    }));
	 })
		  .fail(function() {			
		    alert( "Erreur lors de la requete ajax." );
		  });

	}

	  
})

		













   jQuery("#showTags").click(function() {
	   jQuery('#newTags').show();
	   jQuery('#showTags').hide();		   
   })
   

jQuery("#addTags").click(function(){
	 jQuery('#newTags').hide();
	   jQuery('#showTags').show	();	

	   if(jQuery("#tag_name").val().length > 0){
	 jQuery.ajax({ 			
  		method: "POST",
 		url:  "{{path('ajax_tag_new')}}",
  		data: { 'tag[name]': jQuery("#tag_name").val(),'tag[_token]':jQuery("#tag__token").val()}
	 })
	  .done(function(retour) {		 
		    jQuery("#tag_name").val('');
		  jQuery('#post_tags').append(jQuery('<option>', {
		        value: retour.name,
		        text: retour.name
		    }));
	 })
		  .fail(function() {			
		    alert( "Erreur lors de la requete ajax." );
		    });
	   }
})


</script>







   {% endblock %}
   
   
   

   



