{% extends 'admin.html.twig' %}

{% block title %}
Administration - Liste des articles
{% endblock %}

{% block h1 %}
Administration - Liste des articles
{% endblock %}
{% block body %}

<div class="card">
	<div class="card-header">
		<strong class="card-title">Liste des articles</strong>
	</div>
	<div class="card-body">
		<table class="table">
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre</th>					
					<th scope="col">Status</th>
					<th scope="col">Crée</th>					
					<th scope="col">Commentaires</th>					
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
			    {% for post in posts %}
            <tr class="text-center">
                <th scope="row">{{ post.id }}</td>
                <td>{{ post.title }}</td>
               
                <td>{{ post.status }}</td>  
                <td>{{ post.createdAt ? post.createdAt|date('d/m/y H:i') : '' }}</td>
                <td>{{ post.comments|length}}</td>
             
                <td>
              <form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                
                <a href="{{ path('admin_post_show', {'id':post.id,'slug': post.slug}) }}" class="btn btn-secondary text-white btn-sm">Afficher</a>
                <a href="{{ path('post_show', {'id':post.id,'slug': post.slug}) }}" class="btn btn-primary text-white btn-sm">Afficher sur le blog</a>
                <a href="{{ path('admin_post_edit', {'id':post.id,'slug': post.slug}) }}" class="btn btn-success text-white btn-sm">Modifier</a>
              
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                <button class="btn btn-danger btn-sm">Supprimer</button>
            </form>
                        
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}			
					
			</tbody>
		</table>

	</div>
</div>




                


   
{% endblock %}