{% extends 'admin.html.twig' %}
{% block stylesheets %}{% endblock %}
  
   
{% block title %}Administration - Création d'un article{% endblock %}

{% block body %}   
   <div class="col-lg-12" id="col">
                    <div class="card">
                      <div class="card-header">
                        <strong>Création d'un article</strong>
                      </div>
                      <div class="card-body card-block">
                      
                         
                      
                      
                   {{ form_start(form,{attr:{class:'form-horizontal',id:'postform'}}) }}                        
          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[title]" class="form-control-label">Titre</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.title, {attr: {class: 'form-control' ,placeholder:'Titre de l\'article'}}) }}</div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[content]" class=" form-control-label">Contenu</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.content, {attr: {class: 'form-control'}}) }}</div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[locale]" class=" form-control-label">Langue originale de l'article</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.locale, {attr: {class: 'form-control'}}) }}</div>
                          </div>
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[status]" class=" form-control-label">Statut de l'article</label></div>
                            <div class="col-12 col-md-9">
                             {{ form_widget(form.status, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>
            
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[comment_status]" class=" form-control-label">Statut des commentaires</label></div>
                            <div class="col-12 col-md-9">
                             {{ form_widget(form.comment_status, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>
                         
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[category]" class=" form-control-label">Catégories</label></div>
                            <div class="col col-md-9">
                             {{ form_widget(form.category, {attr: {class: 'form-control' }}) }}
                             
                             
                             <a id="showCategory" class="btn btn-block btn-secondary text-white mt-3">Ajouter</a> 
                             <div id="newCategory"  style="display:none;">
                            	{{ render(controller('App\\Controller\\CategoryController::ajaxNew')) }}
                           
								  
								 <a id="addCategory" class="btn btn-block btn-secondary text-white mt-1">Fermer</a> 
                             </div>
                            </div>
                          </div>                                                   
                          
                         <div class="row form-group">
                            <div class="col col-md-3"><label for="post[home_image]" class="form-control-label">Image de présentation</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.home_image, {attr: {class: 'form-control-file' ,placeholder:'Image'}}) }}</div>
                          </div>
                           
                   
                                                      
                         <div class="row form-group">
                            <div class="col col-md-3"><label for="post[tags]" class=" form-control-label">Tags</label></div>
                            <div class="col col-md-9">   
                                {{ form_widget(form.tags, {attr: {class: 'form-control' }}) }}
                                
                                 <a id="showTags" class="btn btn-block btn-secondary text-white mt-3">Ajouter</a> 
                             <div id="newTags"  style="display:none;">
                            	{{ render(controller('App\\Controller\\TagController::ajaxNew')) }}
                           
								  
								 <a id="addTags" class="btn btn-block btn-secondary text-white mt-1">Fermer</a> 
                             </div>                             
                             </div>
                          </div>                       
							 <input class="btn btn-block btn-lg btn-success" type="submit" id="valider" value="Envoyer"/>
                       
                    </div><!-- card body -->
                    </div><!-- card -->
                    </div><!-- col -->
                 
             {{ form_end(form) }}
   
   
   
   
   



   
{% endblock %}


{% block javascripts %}


   <script>
	jQuery(document).ready(function(){
		jQuery('#post_content').trumbowyg();
		jQuery("#category_name").removeAttr("required");
		jQuery("#tag_name").removeAttr("required");		
		})
   	
   	
   	
   	jQuery("#category_name").keyup(function(){
   		if(jQuery("#category_name").val().length > 0){
   		jQuery("#addCategory").html('Ajouter une catégorie')
   		}else{
   			jQuery("#addCategory").html('fermer')
   	   		}

   	   	})
   	
   	jQuery("#tag_name").keyup(function(){
   		if(jQuery("#tag_name").val().length > 0){
   		jQuery("#addTags").html('Ajouter un tag')
   		}else{
   			jQuery("#addTags").html('fermer')
   	   		}

   	   	})
   	

   jQuery("#showCategory").click(function() {
	   jQuery('#newCategory').show();
	   jQuery('#showCategory').hide();		   
   })
   
   
   
   

jQuery("#addCategory").click(function(){
	 jQuery('#newCategory').hide();
	   jQuery('#showCategory').show	();	


	if(jQuery("#category_name").val().length > 0){
		
	 jQuery.ajax({ 			
  		method: "POST",
 		url:  "{{path('ajax_category_new')}}",
  		data: { 'category[name]': jQuery("#category_name").val(),'category[_token]':jQuery("#category__token").val()}
	 })
	  .done(function(retour) {		 
		    jQuery("#category_name").val('');
		  jQuery('#post_category').append(jQuery('<option>', {
		        value: retour.name,
		        text: retour.name
		    }));
		  location.reload();
	 })
	  .fail(function() {			
		    alert( "Erreur lors de la requete ajax." );
		  });

	}

	  
})



   jQuery("#showTags").click(function() {
	   jQuery('#newTags').show();
	   jQuery('#showTags').hide();		   
   })
   

jQuery("#addTags").click(function(){
	 jQuery('#newTags').hide();
	   jQuery('#showTags').show	();	

	   if(jQuery("#tag_name").val().length > 0){
	 jQuery.ajax({ 			
  		method: "POST",
 		url:  "{{path('ajax_tag_new')}}",
  		data: { 'tag[name]': jQuery("#tag_name").val(),'tag[_token]':jQuery("#tag__token").val()}
	 })
	  .done(function(retour) {		 
		    jQuery("#tag_name").val('');
		  jQuery('#post_tags').append(jQuery('<option>', {
		        value: retour.name,
		        text: retour.name
		    }));
		  location.reload();
	 })
		  .fail(function() {			
		    alert( "Erreur lors de la requete ajax." );
		    });
	   }
})










   {% endblock %}
   
   
   

   
   
   
   
   
   
   
   
   
   
   
   
   
