{% extends 'admin.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block h1 %}
Administration - Affichage d'un article
{% endblock %}
{% block body %}


<div class="card">
	<div class="card-header">
		<strong class="card-title">Liste des articles</strong>
	</div>
	<div class="card-body">
{% if app.request.get('_route') != app.request.headers.get('referer') %}   
    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-secondary" name="_target_path">&larr; Retour</a> 
{% endif %}

    <h1 class="mt-4">{{ post.title }}</h1>
     <!-- Author -->
          <p class="lead">
           Par
            <a href="{{ path('admin_user_show',{'id':post.user.id}) }}">{{ post.user|capitalize }}</a>
          </p>
          <hr>
          <!-- Date/Time -->
          <p>Posté le {{ post.createdAt ? post.createdAt|date('d/m/Y'~' à '~'H:i') : '' }} {{ post.updatedAt ? ' - Dernière modification le '~ post.updatedAt|date('d/m/Y H:i') : '' }}</p>
          <hr>
             <!-- Preview Image -->
          <img class="img-fluid rounded" src="/images/post_images/{{ post.homeimage }}" alt="{{ post.homeimage }}">
          <hr>
          
          <!-- Post Content -->

          {{ post.content }}

         
          <hr>    
          
   
   			{{ include('comment/comment.post.list.html.twig') }}
  
   		
   </div>
   </div>


{% endblock %}

