{% extends 'admin.html.twig' %}
{% block stylesheets %}{% endblock %}
  
   
{% block title %}Administration - Création d'un article{% endblock %}

{% block body %}   
   <div class="col-lg-12" id="col">
                    <div class="card">
                      <div class="card-header">
                        <strong>Création d'un article</strong>
                      </div>
                      <div class="card-body card-block">
                      
                         
                      
                      
                   {{ form_start(form,{attr:{class:'form-horizontal',id:'postform'}}) }}                        
          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[title]" class="form-control-label">Titre</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.title, {attr: {class: 'form-control' ,placeholder:'Titre de l\'article'}}) }}</div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[content]" class=" form-control-label">Contenu</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.content, {attr: {class: 'form-control'}}) }}</div>
                          </div>
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[locale]" class=" form-control-label">Langue originale de l'article</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.locale, {attr: {class: 'form-control'}}) }}</div>
                          </div>
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[status]" class=" form-control-label">Statut de l'article</label></div>
                            <div class="col-12 col-md-9">
                             {{ form_widget(form.status, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>
            
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[comment_status]" class=" form-control-label">Statut des commentaires</label></div>
                            <div class="col-12 col-md-9">
                             {{ form_widget(form.comment_status, {attr: {class: 'form-control' }}) }}
                            </div>
                          </div>
                         
                          
                          <div class="row form-group">
                            <div class="col col-md-3"><label for="post[category]" class=" form-control-label">Catégories</label></div>
                            <div class="col col-md-9">
                             {{ form_widget(form.category, {attr: {class: 'form-control' }}) }}
                                 <a id="addCategories" class="btn btn-block btn-secondary text-white mt-3">Ajouter</a>                              
                             
                             
                             {{ render(controller('App\\Controller\\CategoryController::ajaxNew')) }}
                             
                             
                             
                             
                             
                         
                            </div>
                          </div>                                                   
                          
                         <div class="row form-group">
                            <div class="col col-md-3"><label for="post[home_image]" class="form-control-label">Image de présentation</label></div>
                            <div class="col-12 col-md-9">{{ form_widget(form.home_image, {attr: {class: 'form-control-file' ,placeholder:'Image'}}) }}</div>
                          </div>
                           
                   
                                                      
                         <div class="row form-group">
                            <div class="col col-md-3"><label for="post[tags]" class=" form-control-label">Tags</label></div>
                            <div class="col col-md-9">   
                                {{ form_widget(form.tags, {attr: {class: 'form-control' }}) }}
                                
                                 <a id="addTags" class="btn btn-block btn-secondary text-white mt-3">Ajouter</a> 
                                                    
                             </div>
                          </div>                       
                          
                
                     
                   
                          <input class="btn btn-block btn-lg btn-success" type="submit" id="valider" value="Envoyer"/>
                       
                    </div><!-- card body -->
                    </div><!-- card -->
                    </div><!-- col -->
                 
             {{ form_end(form) }}
   
   
   
   
   



   
{% endblock %}


{% block javascripts %}


   <script>
	jQuery(document).ready(function(){
		jQuery('#post_content').trumbowyg();	
		})  	
   {% endblock %}
   
   
   

   
   
   
   
   
   
   
   
   
   
   
   
   
