{% extends 'bootstrap.notSidebar.html.twig' %}

{% block title %}Liste des partenaires{% endblock %}

{% block body %}
    <h1>Liste des partenaires</h1>
    <div class="row">

    
    {% for key,partner in partners %}
    		<div class="col-md-3 mb-3">
   			 <div class="card mb-3 box-shadow h-100">
                <img class="card-img-top"  alt="{{ partner.imglink }}" src="http://placeimg.com/640/480/tech/{{ key }}" data-holder-rendered="true"> 
               <!--  <img class="card-img-top"  alt="{{ partner.imglink }}" src="{{ partner.imglink }}" data-holder-rendered="true">--> 
                <div class="card-body">
                  <p class="card-text">{{ partner.name }}</p>
                  <p class="card-text">{{ partner.adress }}</p>
                  <p class="card-text">{{ partner.zipcode }} {{ partner.city }}</p>
                 <small class="card-text text-muted">Siren : {{ partner.siren }}</small>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="mailto:{{ partner.mail }}">email</a>
                      <a type="button" class="btn btn-sm btn-outline-secondary" target="_blank" href="https://www.societe.com/societe/societe-{{ partner.siren }}.html">Link</a>
                      <a type="button" class="btn btn-sm btn-outline-secondary" href="tel:+33{{ partner.phone }}">Tel</a>
                    </div>
                    
                
                   
                  </div>
                  
                  
                 
                 
             
                </div>
              </div>
    
    
    		</div>
    
    
    
    
    
    
    
    
    {% endfor %}
    
  
    </div>

   

{% endblock %}