{{ form_start(form,{method: 'POST',action:path('post_comment_new',{'id':post.id,'postSlug':post.slug}  )}     ) }}
    {{ form_widget(form.content, {attr:{class:('form-control'),rows:(3)}}) }}  
  
    <button class="btn btn-block btn-secondary">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}

