
{{ form_start(form,{method: 'POST',action:path('post_reply_comment_new',{'idComment':comment.id,'postId':post.id,'postSlug':post.slug}  ),attr:{'id':'formCommentHeader'}  }     ) }}
    {{ form_widget(form.content, {attr:{class:('form-control'),rows:(3)}}) }}    	   
  
    <button class="btn btn-block btn-secondary">{{ button_label|default('Envoyer') }}</button>
{{ form_end(form) }}