{% extends 'admin.html.twig' %}

{% block title %}Administration - Modifier un tag{% endblock %}
{% block h1 %}Modification du Tag :     {{tag.name}}{% endblock %}
{% block body %}
<div class="card">
<div class="card-body">


    {{ include('tag/admin/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('admin_tag_index') }}">Retour à la liste des tags</a>

    {{ include('tag/admin/_delete_form.html.twig') }}
    
    </div>
    </div>
{% endblock %}