{% extends 'admin.html.twig' %}


{% block title %}Administration - Liste des Tags{% endblock %}
{% block h1 %}Liste des Tags{% endblock %}
{% block body %}
<div class="card">
<div class="card-body">


    <table class="table">
        <thead>
            <tr>
                <th width="10%">Id</th>
                <th width="70%">Nom</th>
                <th width="20%">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.id }}</td>
                <td>{{ tag.name }}</td>
                <td>                
                     <form method="post" action="{{ path('admin_tag_delete', {'id': tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                    	<a  class="btn btn-sm btn-warning"href="{{ path('admin_tag_edit', {'id': tag.id}) }}">Modifier</a>
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
                        <button class="btn btn-sm btn-danger">Supprimer</button>
                    </form>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-block btn-success" href="{{ path('admin_tag_new') }}">Ajouter un Tag</a>
       </div>
   </div>
   
{% endblock %}