{% extends 'admin.html.twig' %}

{% block title %}Administration - Ajouter un tag{% endblock %}
{% block h1 %}Ajouter un Tag{% endblock %}
{% block body %}
<div class="card">
<div class="card-body">


    {{ include('tag/admin/_form.html.twig') }}

    <a href="{{ path('admin_tag_index') }}">back to list</a>

</div>
</div>
  
{% endblock %}