{% if categories %}
{% block menu_category %}
 <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                    <div class="col-lg-6">
                          <ul class="list-unstyled mb-0">
                    {% for key,category in categories %}             
                    {% if loop.index % 2 != 0 %}
			                   <li><a href="{{ path('category_posts',{'slug':category.slug})  }}">{{ category.name }}</a></li>
                    {% endif %}                   
                    {% endfor %}
	    	              </ul>
    		         </div>
                  
                     <div class="col-lg-6">
                          <ul class="list-unstyled mb-0">
                  {% for key,category in categories %}                    
                  {% if loop.index % 2 == 0 %}
			                   <li><a href="{{ path('category_posts',{'slug':category.slug})  }}">{{ category.name }}</a></li>
                    {% endif %}                   
                    {% endfor %}
	    	              </ul>
    		         </div>                          
              </div>
            </div>
          </div>
{% endblock %}
{% endif %}          