{% extends 'bootstrap.html.twig' %}

{% block title %}{{ 'label.title.category'|trans }} {{ category.slug}}{% endblock %}

{% block body %}
  
<h1 class="my-4">{{ 'label.title.category'|trans }} : {{ category.slug}}</h1>

{% for post in category.posts %}
        <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="/images/post_images/{{ post.homeimage }}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ post.title|capitalize }}</h2>
              <p class="card-text">{{ post.content|striptags|slice(0, 255) ~ '...'  }}</p>
              <a href="{{ path('post_show', {'id':post.id,'slug': post.slug}) }}" class="btn btn-primary">{{ 'readmore'|trans }} &rarr;</a>              
            </div>
            <div class="card-footer text-muted">
              {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
              <a href="">{{ post.user|capitalize }}</a>
            </div>
          </div>
   
{% endfor %} 
  
   
{% endblock %}