{% extends 'admin.html.twig' %}

{% block title %}Administration du blog{% endblock %}

{% block h1 %}Administration - Accueil{% endblock %}
{% block body %}


<div class="card">
	<div class="card-header">
		<strong class="card-title">Administration</strong>
	</div>
	<div class="card-body">




				
					<div class="col-sm-12 mb-4">
					
                        <div class="card-group">
                           
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow" id="notactive">
                                <div class="card-body bg-flat-color-3">
                                    <div class="h1 text-muted text-right mb-4">
                                        <i class="fa fa-user-plus text-light"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count" id="countUserNotActive">{{ countUserNotApproved }}</span>
                                    </div>
                                    <small class="text-uppercase font-weight-bold text-light">Utilisateurs a valider</small>                              
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width:{{ countUserNotApproved < 10 ? countUserNotApproved*10 : countUserNotApproved  }}%; height: 5px;"></div>
                                </div>
                            </div>
                           
                            
                            
                            
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-2">
                                    <div class="h1 text-right mb-4">
                                        <i class="fa fa-comments text-light"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">{{ countComNotApproved }}</span>
                                    </div>
                                    <small class="text-light text-uppercase font-weight-bold"><a href="{{ path('admin_comment_index') }}" class="text-white">Commentaires a valider</a></small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: {{ countComNotApproved < 10 ? countComNotApproved*10 : countComNotApproved  }}%; height: 5px;"></div>
                                </div>
                            </div>
                            
                           <div class="card col-lg-2 col-md-6 no-padding bg-flat-color-1">
                                <div class="card-body">
                                    <div class="h1 text-muted text-right mb-4">
                                        <i class="fa fa-users text-light"></i>
                                    </div>

                                    <div class="h4 mb-0 text-light">
                                        <span class="count">{{ countUserTotal }}</span>
                                    </div>
                                    <small class="text-uppercase font-weight-bold text-light"><a href="{{ path('admin_user_index') }}" class="text-white">Utilisateurs</a></small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: {{ countUserTotal < 10 ? countUserTotal*10 : countUserTotal  }}%; height: 5px;"></div>
                                </div>
                            </div>
                            
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-5">
                                    <div class="h1 text-right text-light mb-4">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">{{ countPostPublish }}</span>
                                    </div>
                                    <small class="text-uppercase font-weight-bold text-light"><a href="{{ path('admin_post_index') }}" class="text-white">Articles publié</a></small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: {{ countPostPublish < 10 ? countPostPublish*10 : countPostPublish  }}%; height: 5px;"></div>
                                </div>
                            </div>
                            
                     
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-1">
                                    <div class="h1 text-light text-right mb-4">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">{{ countComParent }}</span>
                                    </div>
                                    <small class="text-light text-uppercase font-weight-bold">Commentaires</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: {{ countComParent < 10 ? countComParent*10 : countComParent  }}%; height: 5px;"></div>
                                </div>
                            </div>
                        
                        
                        
                        
                        
                            <div class="card col-lg-2 col-md-6 no-padding no-shadow">
                                <div class="card-body bg-flat-color-1">
                                    <div class="h1 text-light text-right mb-4">
                                        <i class="fa fa-comments-o"></i>
                                    </div>
                                    <div class="h4 mb-0 text-light">
                                        <span class="count">{{ countComResponse }}</span>
                                    </div>
                                    <small class="text-light text-uppercase font-weight-bold">Réponse de commentaire</small>
                                    <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: {{ countComResponse < 10 ? countComResponse*10 : countComResponse  }}%; height: 5px;"></div>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
     </div>




<div id="ajax"></div>






{% endblock %}


{% block javascripts %} 
<script>
jQuery(document).ready(function(){
	jQuery('#notactive').css('cursor', 'pointer');
	jQuery("#notactive").on("click",function(){		
		jQuery.ajax({
			method: "GET",
			url: "{{path('admin_user_notactive')}}"
		})
		 .done(function(msg) {
			 jQuery("#ajax").html(msg);		
			})
		 .fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			  	})				
		});	









		
})





</script>
{% endblock %}