{% extends 'bootstrap.html.twig' %}

{% block title %}Yann Blog - Accueil{% endblock %}

{% block body %}
  
<h1 class="my-4">{{ 'Liste des articles'|trans }}</h1>

{% for post in posts %}
        <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="/images/post_images/{{ post.homeimage }}" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{ post.title|capitalize }}</h2>
              <p class="card-text">{{ post.content|striptags|slice(0, 255) ~ '...'  }}</p>
              <a href="{{ path('post_show', {'id':post.id,'slug': post.slug}) }}" class="btn btn-primary">{{ 'readmore'|trans }} &rarr;</a>
              
            </div>
            <div class="card-footer text-muted">
              {{ post.createdAt ? post.createdAt|date('d/m/Y H:i:s') : '' }} {{ 'by'|trans }} {{ post.user|capitalize }}
            </div>
          </div>
   
{% endfor %} 
  
  {% if last_page > 1 %}
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    
    <li class="page-item {{ current_page == 1 ? 'disabled' }}">
      <a class="page-link" href="{{ path('blog', {'page':previous_page}) }}" tabindex="-1">{{ 'label.previous'|trans  }}</a>
    </li>
   
   
      {% for page in 1..last_page %}
        {% if page == current_page %}       
        	<li class="page-item active"><a class="page-link" href="{{ path('blog', {'page':page}) }}">{{ page }}</a></li>   
        {% else %}
         <li class="page-item"><a class="page-link" href="{{ path('blog', { 'page': page }) }}">{{ page }}</a></li>        
        {% endif %}
      {% endfor %}
    <li class="page-item  {{ next_page == current_page ? 'disabled'}}">
      <a class="page-link" href="{{ path('blog', {'page': next_page }) }}">{{ 'label.next'|trans }}</a>
    </li>
  </ul>
</nav>

{% endif %}
   
{% endblock %}