{% extends 'bootstrap.html.twig' %}

{% block title %}Yann Blog - Recherche{% endblock %}

{% block body %}
  
<h1 class="my-4">Resultats de la recherche</h1>
{% if result['Post'] %}
<!-- Blog Post -->
<div class="card mb-4">
	<div class="card-header">Dans les articles....</div>
	<div class="card-body">
		{% for post in result['Post'] %}
		<p class="card-text">
			<a href="{{ path('post_show', {'id': post.id, 'slug': post.slug }) }}">{{ post.title|capitalize }}</a>
		</p>
		{% endfor %}
	</div>
</div>
{% endif %}

{% if result['Comment'] %}
<!-- Blog Post -->
<div class="card mb-4">
	<div class="card-header">Dans les commentaires....</div>
	<div class="card-body">
		{% for comment in result['Comment'] %}
		<p class="card-text">
			<a href="{{ path('post_show', {'slug': comment.post.slug}) }}">{{ comment.content|capitalize }}</a>
		</p>
		{% endfor %}
	</div>
</div>
{% endif %}
{% if result['User'] %}
<!-- Blog Post -->
<div class="card mb-4">
	<div class="card-header">Dans les utilisateurs....</div>
	<div class="card-body">
		{% for user in result['User'] %}
		<p class="card-text">
			{{ user.username|capitalize }}</a>
		</p>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}