   {% block navigation %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Yann Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
         
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('home') }}">{{ 'Accueil'|trans  }}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('blog') }}">{{ 'Blog'|trans  }}                
              </a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                 {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('admin_home') }}">{{ 'administration'|trans }}</a>
            </li>
            {% endif %}
            
            <li class="nav-item">
              <a class="nav-link" href="{{ path('logout') }}">{{ 'logout'|trans }}</a>
            </li>
       
             
            {% else %}
              <li class="nav-item">
              <a class="nav-link" href="{{ path('login') }}">{{ 'login'|trans }}</a>
            </li>      
             <li class="nav-item">
              <a class="nav-link" href="{{ path('register') }}">{{ 'register'|trans }}</a>
            </li>         
            {% endif %}
			            
            <li class="nav-item"><a class="nav-link" href="/fr"><span class="flag-icon flag-icon-fr"></span></a></li>
            <li class="nav-item"><a class="nav-link" href="/en"><span class="flag-icon flag-icon-gb"></span></a></li>
            
         
            
            
          </ul>
        </div>
      </div>
    </nav>
   {% endblock %}
