{% extends 'admin.html.twig' %}

{% block title %}Administration - Liste des catégories{% endblock %}
{% block h1 %}Liste des catégories{% endblock %}
{% block body %}
<div class="card">

	<div class="card-body">
    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>                
                <th>Posts</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.posts|length }}</td>
                <td>
                
                      <form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                   
                    <a href="{{ path('admin_category_show', {'slug': category.slug}) }}" class="btn btn-sm btn-secondary">Voir</a>
                    <a href="{{ path('admin_category_edit', {'slug': category.slug}) }}" class="btn btn-sm btn-success">Modifier</a>
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                    <button class="btn btn-sm btn-danger">Supprimer</button>
                </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
		<a href="{{ path('admin_category_new') }}" class="btn btn-block btn-lg btn-success">Ajouter une nouvelle catégorie</a>
	</div>
</div>



{% endblock %}