{% extends 'admin.html.twig' %}

{% block title %}Administration - Ajouter une catégorie{% endblock %}
{% block h1 %}Nouvelle catégorie{% endblock %}
{% block body %}
<div class="card">
<div class="card-body">
   
{{ form_start(form) }}


<div class="row form-group">
<div class="col col-md-3"><label for="category[name]" class="form-control-label">Nom de la catégorie</label></div>
<div class="col-12 col-md-9">{{ form_widget(form.name, {attr: {class: 'form-control' ,placeholder:'Nom',id:'validationTooltipName'}}) }}
{{ form_errors(form.name) }}
</div>


</div>
  <input class="btn btn-block btn-lg btn-success" type="submit" id="valider" value="Envoyer"/>
  <a href="{{ path('admin_category_index') }}" class="btn btn-block btn-lg btn-danger" >Retour à la liste</a>

{{ form_end(form) }}

    	</div>
</div>
    
{% endblock %}