{% extends 'admin.html.twig' %}

{% block title %}Administration - Afficher une catégorie{% endblock %}
{% block h1 %}Catégorie {{category.name}}{% endblock %}
{% block body %}
<div class="card">
<div class="card-body">

    <table class="table text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ category.slug }}</td>
            </tr>
        </tbody>
    </table>
    <form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <a href="{{ path('admin_category_edit', {'slug': category.slug}) }}" class="btn btn-sm btn-success" >Modifier la catégorie</a>
        <a href="{{ path('admin_category_index') }}" class="btn btn-sm btn-secondary" >Retour à la liste</a>
			<input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    </form>
   </div>
   </div>
   
   <div class="card">
<div class="card-body">
    		<table class="table">
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titre</th>					
					<th scope="col">Status</th>
					<th scope="col">Crée</th>					
					<th scope="col">Commentaires</th>					
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
			   {% for post in category.posts %}
            <tr class="text-center">
                <th scope="row">{{ post.id }}</td>
                <td>{{ post.title }}</td>
               
                <td>{{ post.status }}</td>  
                <td>{{ post.createdAt ? post.createdAt|date('d/m/y H:i') : '' }}</td>
                <td>{{ post.comments|length}}</td>
             
                <td>
              <form method="post" action="{{ path('post_delete', {'id': post.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <a href="{{ path('admin_post_show', {'slug': post.slug}) }}" class="btn btn-secondary text-white btn-sm">Afficher</a>
                <a href="{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-primary text-white btn-sm">Afficher sur le blog</a>
                <a href="{{ path('admin_post_edit', {'slug': post.slug}) }}" class="btn btn-success text-white btn-sm">Modifier</a>
              
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
                <button class="btn btn-danger btn-sm">Supprimer</button>
            </form>                       
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}			
					
			</tbody>
		</table>  
      </div>
   </div>    
{% endblock %}