{% extends 'admin.html.twig' %}

{% block title %}Administration - Liste des utilisateurs{% endblock %}

{% block h1 %}Administration - Liste des utilisateurs{% endblock %}
{% block body %}

<div class="card">

	<div class="card-body">
		<table class="table text-center">
			<thead class="thead-dark">
			
			
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BirthDay</th>
                <th>RegistredAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for role in user.roles %}
                {{ role }}
        		{% endfor %}
        
        
        </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>{{ user.birthDay ? user.birthDay|date('d/m/Y') : '' }}</td>
                <td>{{ user.registredAt ? user.registredAt|date('d/m/y H:i:s') : '' }}</td>
                <td>
                   
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
                
                
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   

	</div>
</div>




                


   
{% endblock %}