{% extends 'admin.html.twig' %}

{% block title %}
Administration - Liste des utilisateurs
{% endblock %}

{% block h1 %}
Administration - Liste des utilisateurs
{% endblock %}
{% block body %}

<div class="card">

	<div class="card-body">
  {{ form_start(form) }}
                        <div class="form-group">
                            <label>Nom d'utilisateur</label>  
                            {{ form_widget(form.username,{'attr':{'class':'form-control','placeholder':'Nom d\'utilsateur'} }   ) }}                    
   							  </div>
                  
                           
                            {{ form_widget(form.plainPassword) }}                    
                      
                        
                        <div class="form-group">
                            <label>Adresse email</label>
                            {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'Adresse email valide'} }   ) }}                    
                        </div>
                        
                        
                        
                         <div class="form-group">
                            <label>Nom</label>
                            {{ form_widget(form.firstName,{'attr':{'class':'form-control','placeholder':'Nom de famille'} }   ) }}                    
                        </div>
                        
                        <div class="form-group">
                            <label>Prénom</label>
                            {{ form_widget(form.LastName,{'attr':{'class':'form-control','placeholder':'Prénom'} }   ) }}                    
                        </div>
                        
                        <div class="form-group">
                            <label>Date de naissance</label>
                            {{ form_widget(form.birthDay,{'attr':{'class':'form-control'} }   ) }}                    
                        </div>
                        
                        
                        
                        
                      
                        <button type="submit" class="btn btn-success btn-block">Créer un utilisateur</button>
                 
                      
                    {{ form_end(form) }}
    <a href="{{ path('admin_user_index') }}">back to list</a>


</div>
</div>

{% block javascripts %}
<script>
jQuery(document).ready(function(){
	jQuery("input[id^=user_plainPassword").removeAttr('required')
})
</script>
{% endblock %}

{% endblock %}





   

   
   
   
   
   
   
   
   
   
   
   
   
   
	