<div class="card">

	<div class="card-body">
	
		<table class="table text-center">
			<thead class="thead-dark">
			
			
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>BirthDay</th>
                <th>RegistredAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% for role in user.roles %}
                {{ role }}
        		{% endfor %}
        
        
        </td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.LastName }}</td>
                <td>{{ user.birthDay ? user.birthDay|date('d/m/Y') : '' }}</td>
                <td>{{ user.registredAt ? user.registredAt|date('d/m/y H:i:s') : '' }}</td>
                <td>          
                	<button class="btn btn-sm btn-success" id="test-{{ user.id }}" data-id ="{{ user.id }}">Activer</button>
                         
                  
                   
                </td>
                
                
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   

	</div>
</div>
 {% block javascripts %}
<script>

	jQuery("button[id^=test").on("click",function(){	
		
		jQuery.ajax({
			method: "GET",
			url: "/fr/user/admin/active/"+jQuery(this).data().id
			
		})
		 .done(function(msg) {
			 jQuery("#ajax").html(msg);
			 	
			 jQuery('#countUserNotActive').html({{users|length}});
			
			})
			 
			.fail(function( jqXHR, textStatus ) {
			  alert( "Request failed: " + textStatus );
			})


				
		});	

                


</script>
 {% endblock %}