{% extends 'admin.html.twig' %}

{% block title %}
Administration - Affichage d'un utilisateur
{% endblock %}

{% block h1 %}
Administration - Affichage d'un utilisateur
{% endblock %}
{% block body %}

<div class="card">

	<div class="card-body">
		<table class="table">
			<thead class="thead-dark text-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Pseudonyme</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>RegistredAt</th>
                <td>{{ user.registredAt ? user.registredAt|date('d/m/y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                  {% for role in user.roles %}
                {{ role }}
        		{% endfor %}
                </td>
            </tr>
            <tr>
                <th>Activation</th>
                <td>{{ user.isActive }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.LastName }}</td>
            </tr>
            <tr>
                <th>BirthDay</th>
                <td>{{ user.birthDay ? user.birthDay|date('d/m/Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_user_index') }}">back to list</a>

    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/admin/_delete_form.html.twig') }}
</table>

	</div>
</div>




                


   
{% endblock %}