{% extends 'base.html.twig' %}
{% block body %}
<h3>Bonjour {{ user }}</h3>
Votre compte a bien été crée.
Après validation d'un administrateur vous pourrez vous connecter sur notre blog.
{% endblock %}
