{% extends 'admin.html.twig' %}

{% block title %}Edit Partner{% endblock %}

{% block body %}
<div class="col-lg-12" id="col">
                    <div class="card">
                      <div class="card-header">
                        <strong>Edition d'un partenaire</strong>
                      </div>
                      <div class="card-body card-block">
   

    {{ include('partner/admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_partner_index') }}">back to list</a>

    {{ include('partner/admin/_delete_form.html.twig') }}
       </div><!-- card body -->
                    </div><!-- card -->
                    </div><!-- col -->
{% endblock %}