{% extends 'admin.html.twig' %}
   

{% block title %}Liste des partenaires{% endblock %}

{% block body %}
<div class="col-lg-12" id="col">
                    <div class="card">
                      <div class="card-header">
                        <strong>Liste des partenaires</strong>
                      </div>
                      <div class="card-body card-block">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adress</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Phone</th>
                <th>Mail</th>
                <th>Link</th>
                <th>Siret</th>
                <th>Imglink</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td>{{ partner.id }}</td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.adress }}</td>
                <td>{{ partner.zipcode }}</td>
                <td>{{ partner.city }}</td>
                <td>{{ partner.phone }}</td>
                <td>{{ partner.mail }}</td>
                <td>{{ partner.link }}</td>
                <td>{{ partner.siren }}</td>
                <td>{{ partner.imglink }}</td>
                <td>
                    <a href="{{ path('admin_partner_show', {'id': partner.id}) }}">show</a>
                    <a href="{{ path('admin_partner_edit', {'id': partner.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-block btn-secondary" href="{{ path('admin_partner_new') }}">Ajouter un partenaire</a>
    
           
                    </div><!-- card body -->
                    </div><!-- card -->
                    </div><!-- col -->
{% endblock %}