{% extends 'admin.html.twig' %}

{% block title %}New Partner{% endblock %}

{% block body %}
<div class="col-lg-12" id="col">
                    <div class="card">
                      <div class="card-header">
                        <strong>Ajout d'un partenaire</strong>
                      </div>
                      <div class="card-body card-block">
   

    {{ include('partner/admin/_form.html.twig') }}

    <a href="{{ path('admin_partner_index') }}">back to list</a>
    </div><!-- card body -->
                    </div><!-- card -->
                    </div><!-- col -->
{% endblock %}