{% extends 'admin.html.twig' %}

{% block title %}Partner{% endblock %}

{% block body %}
<div class="col-lg-12" id="col">
                    <div class="card">
                      <div class="card-header">
                        <strong>Affichage du partenaire</strong>
                      </div>
                      <div class="card-body card-block">





    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partner.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ partner.name }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ partner.adress }}</td>
            </tr>
            <tr>
                <th>Zipcode</th>
                <td>{{ partner.zipcode }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ partner.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ partner.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ partner.mail }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ partner.link }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ partner.siren }}</td>
            </tr>
            <tr>
                <th>Imglink</th>
                <td>{{ partner.imglink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_partner_index') }}">back to list</a>

    <a href="{{ path('admin_partner_edit', {'id': partner.id}) }}">edit</a>

    {{ include('partner/admin/_delete_form.html.twig') }}
    
           </div><!-- card body -->
                    </div><!-- card -->
                    </div><!-- col -->
{% endblock %}