<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="/assets-admin/css/normalize.css">
    <link rel="stylesheet" href="/assets-admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets-admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets-admin/css/themify-icons.css">
    <link rel="stylesheet" href="/assets-admin/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets-admin/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="/assets-admin/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/assets-admin/scss/style.css">
    <link href="/assets-admin/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

     {% block stylesheets %}{% endblock %}
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>




            {% block body %}
            
            
            {% endblock %}



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
 
    <script src="/assets-admin/js/plugins.js"></script>
    <script src="/assets-admin/js/main.js"></script>



    <script src="/assets-admin/js/dashboard.js"></script>

       {% block javascripts %}{% endblock %}
    <script>
        ( function ( $ ) {
            "use strict";

        
        } )( jQuery );
    </script>


</body>
</html>
