<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

     <title>{% block title %}Welcome!{% endblock %}</title>	
     {% block stylesheets %}{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/blog.css" rel="stylesheet">
    <link href="/assets/css/flag-icon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  </head>

  <body>
   {% include 'navigation/nav.base.html.twig' %}
   {% block navigation %}{% endblock %}
   <!-- Page Content -->
   <div class="container">
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} mt-3 ">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
      
      <div class="row">
    <div class="col-md-8">
   {% block body %}{% endblock %}
   </div>
     
   {% include 'sidebar/sidebar.base.html.twig' %}
   {% block sidebar %}{% endblock %}
     
        </div>
      <!-- /.row -->
   
    </div>
    <!-- /.container -->
    
    
    
    
   {% include 'footer/footer.base.html.twig' %}
   {% block footer %}{% endblock %}
  
    
    
   
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      <!-- Bootstrap core JavaScript -->
    <script src="/assets/jquery/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
 
   {% block javascripts %}{% endblock %}

  </body>

</html>