{% if lastPosts %}
<div class="card my-4">
            <h5 class="card-header">{{ '3.article' | trans }}</h5>
            <div class="card-body">
            <ul class="list-unstyled mb-0">
            {% for post in lastPosts %}
			<li><a href="{{ path('post_show',{'id':post.id,'slug': post.slug})}}">{{ post.title }}</a><a></a></li>
            {% endfor %}
            </ul>
      		</div>
</div>
{% endif %}