{% extends 'bootstrap.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}
{% block body %}

<h1 class="mt-4">{{ post.title }}</h1>
<!-- Author -->
<p class="lead">{{ 'by '|trans }}<a href="{{ path('admin_user_show',{'id':post.user.id}) }}">{{ post.user|capitalize }}</a></p>
<hr>
<!-- Date/Time -->
<p>	{{ 'label.posted'|trans }}
	{{ post.createdAt ? post.createdAt|date('d/m/Y'~' à '~'H:i') : '' }}
	{{ post.updatedAt ? ' - Dernière modification le '~ post.updatedAt|date('d/m/Y H:i') : '' }}
</p>
<hr>
<!-- Preview Image -->
<img class="img-fluid rounded" src="/images/post_images/{{ post.homeimage }}" alt="{{ post.homeimage }}">
<hr>

<!-- Post Content -->
{{ post.content|raw }}
<hr>
{% if is_granted('ROLE_ADMIN') %}
<div class="form-inline">
	<div class="form-group">
		{{ include('post/admin/_delete_form.html.twig') }}
	</div>
	<div class="form-group">
		<a class="btn btn-primary"
			href="{{ path('admin_post_edit', {'id':post.id,'slug': post.slug}) }}">Modifier</a>
	</div>
</div>
<hr>
{% endif %}

{% block comment %}

{% if post.commentStatus == 'actived' %}
<!-- Comments Form -->

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
<div class="card my-4">
	<h5 class="card-header">Déposer un commentaire:</h5>
	<div class="card-body">
		{{ render(controller('App\\Controller\\CommentController::commentForm',{'post' : post.id})) }}
	</div>
</div>

{% if post.comments|length > 0 %}
<div id="formComment" class="card my-4">
	<h5 class="card-header">Repondre:<button type="button" id="closeForm" class="close"><span aria-hidden="true">×</span></button></h5>
	<div class="card-body">
		{{ render(controller('App\\Controller\\CommentController::commentReplyForm',{'post' : post.id})) }}
	</div>
</div>
{% endif %}

{% else %}
<div class="alert alert-warning" role="alert">{{ 'label.comment.connect'|trans }}<a class="btn btn-sm btn-secondary float-right" href="{{ path('login')}}">{{ 'login'|trans }}</a></div>


{% endif %}



{% else %}
<div class="alert alert-warning" role="alert">Les commentaires sont désactivés</div>
{% endif %}

{% for comment in post.comments %}
<!-- Single Comment -->


	{% if comment.origin == null and comment.approved == 'yes'  %}
	
	  <div class="media mb-4">
        	<img class="d-flex mr-3 rounded-circle" src="https://placeimg.com/50/50/people" alt="">
        	<div class="media-body">
        	<h5 class="mt-0">
        			Par
        			{{ comment.user }}
        			<small> le {{ comment.createdAt |date('d/m/Y'~' à '~'H:i')}}</small>
        		</h5>
        		{% if is_granted('ROLE_ADMIN') %}
        			  <form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">                
                        <a class="btn btn-secondary btn-sm" href="{{ path('admin_comment_edit',{'id':comment.id}) }}">Modifier</a>              
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
            			<button class="btn btn-danger btn-sm pull-right">Supprimer</button>
            		</form>   
            	{% endif %}
            		<p class="mb-0">
        		{{ comment.content }}   
            		</p>     
            		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}  		     		
                        <button id="response-{{ comment.id }}" data-ref="{{ comment.id }}" data-origin="{{ comment.id }}" class="btn btn-sm btn-warning mb-3">Repondre</button>              
        				<div id="divResponse-{{  comment.id }}"></div>
        			{% endif %}	
        		{% if comment.answers|length > 0 %}
        		{% set originId = comment.id %}
        		{% for comment in comment.answers %}
        		{% if comment.approved == 'yes' %}
        			<div class="media mb-4">
                    	<img class="d-flex mr-3 rounded-circle" src="https://placeimg.com/50/50/people" alt="">
                    	<div class="media-body">
                    	<h5 class="mt-0">
                			Par
                			{{ comment.user }}
                			<small> le {{ comment.createdAt |date('d/m/Y'~' à '~'H:i')}}</small>
                		</h5>
        		{% if is_granted('ROLE_ADMIN') %}
            			  	<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">                
                                <a class="btn btn-secondary btn-sm" href="{{ path('admin_comment_edit',{'id':comment.id}) }}">Modifier</a>              
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                    			<button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                			</form>    			
            	{% endif %}
        					<p class="mb-0">{{ comment.content }}</p> 
        					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}       		
                        <button id="response-{{  comment.id }}" data-ref="{{ comment.id }}" data-origin="{{ originId }}" class="btn btn-sm btn-warning">Repondre</button>              
        				 <div id="divResponse-{{  comment.id }}"></div>
        				 {% endif %}
        				</div>
        			</div>
        			
        			
        			
        			
        			
            	{% endif %}        		
        		{% endfor %}        		
            	{% endif %}        		
        	</div>
        </div>      	
	{% endif %}      
     

{% endfor %}
{% endblock %}

{% endblock %}




   {% block javascripts %}
   <script>
	jQuery(document).ready(function(){
		jQuery("#formComment").hide();
		jQuery("button[id^=response]").click(function(){
			jQuery("#formComment").appendTo("#divResponse-"+jQuery(this).data().ref);
			jQuery("#formComment").show();
			jQuery("#formCommentHeader").attr("action","/{{ app.request.getLocale() }}/comment/replyNew/"+jQuery(this).data().origin+"/{{post.id}}/{{post.slug}}")
			
		});
		jQuery("#closeForm").click(function(){
			jQuery("#formComment").hide();
			})
		})
   </script>  
   {% endblock %}


